@charset "UTF-8";

@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
body{
    background: #f3f3f3;
}
header{
    background-color: #000000;
    height: 100%;
}
nav{
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
}
.logo{
    float: left;
    width: 50px;
    height: 50px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.muen_btn{
    float: right;
    color: #ffffff;
    font-size: 20px;
    padding-top: 12px;
    margin-right: 22px;
    margin-left: 30px;

}
.padshow{
    display: none;
}
.nav{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;

}
.nav a{
    color: #8a8989;
}
.nav .active{
    color: #ffffff;
    position: relative;
}
.nav .active:after{
    content: "";
    position: absolute;
    left: 0;top: 1em;
    margin-top: 27px;
    width: 100%;
    height: 4px;
    background-color: #fff;
}
.m_movie{
    margin: 10px 10px 20px;
    width: auto;
    height: 100%;
    position: relative;
    border: 1px solid #969896;
    border-radius: 3px;
    box-shadow: 0 0 5px #969896;
    overflow: hidden;
    transition: .2s;
}
.m_2_black{
    margin: 0 10px;
}
.m_movie2{
    width: auto;
    height: 100%;
    position: relative;
    border: 1px solid #969896;
    border-radius: 3px;
    box-shadow: 0 0 5px #969896;
    overflow: hidden;
    margin:0 0 10px 0;
    transition: .2s;
}
.u_showpic2{
    width:100%;
    height: 280px;
    background-position: center center;
    background-size: cover;
    transition: .2s;
}
.u_showpic{
    width:100%;
    height: 462px;
    background-size: cover;
    background-position: center center;
    max-width: 1440px;
    max-height: 900px;
    position: relative;
    transition: .2s;
}
.u_showpic img{
    position: absolute;
    top: 100%;right: 22px;
    margin-top: -36px;
}

.m_movie .content{
    margin: 36px 30px 30px;
}
.m_movie2 .content2{
    margin: 36px 30px 30px;
}
.tit{
    font-size: 28px;
    color: #000000;
}
.tit2{
    font-size: 22px;
    color: #000000;
}
.com_src{
    display: block;
    font-size: 14px;
    color: #000000;
}
footer{
    width: 100%;
    height: 60px;
    background: #ffffff;
}
footer span{
    display: block;
    text-align: center;
    line-height: 60px;
    color: #999999;
}


.plr{padding-left: 24px;padding-right: 24px;}
.gWidth{padding-left: 24px;padding-right: 24px;}